//початок обнулення

* {
    border: solid 1px rgba(255, 0, 0, 0.247) ;
    margin: 0;
    padding: 0;
   // border: 0;
}

*,*:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}    
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
//кінець обнулення

body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
header {
    margin: 20px;
}

body {
    
    align-items: center;
    font-size: 15px;
    background-color: rgb(194, 194, 194);
    
}

span{  /*тест*/
    font-size: 20px;
    @media (max-width:747px) {
        font-size: 15px;
    }
}

div{  /*тест*/
    font-size: 30px;
    @media (max-width:747px) {
        font-size: 20px;
    }
}

main   {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.form_user div {
    display: grid;
    
    padding: 5px 0px 5px 0px;
    box-shadow: 5px 5px 10px 5px rgb(65, 65, 65);
    border-radius: 10px;
}
.form_user input {
    text-align: center;
    font-size: 13px;
}

.form_input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form_input_radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}